.form {
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr;
}
.form > * {
  margin-top: 1rem;
}
.persons__input {
  min-height: 100px;
  text-align: center;
}

.form__extras {
  padding: 1rem;
}

.form * > label {
  color: var(--text-color);
}
.button__submit {
  font-family: var(--titelFont);
  font-size: 1rem;
  border-radius: 10px;
  max-width: 10rem;
  margin: 1rem auto;
  padding: 1rem 3rem;
}
#persons__inputDelimiter {
  color: black;
  width: 10%;
}
