.form {
  padding: 1rem;
  background-color: rebeccapurple;
  text-align: center;
}

.persons__input {
  min-height: 200px;
  width: 80%;
  text-align: center;
}

.form__extras {
  padding: 1rem;
}

.form * > label {
  color: var(--text-color);
}
#persons__inputDelimiter {
  color: black;
  width: 10%;
}
