.value {
  display: table;
  border-radius: 10px;
  background-color: var(--action-background);
  font-family: var(--titelFont);
  color: var(--text-color);
  margin: 1rem auto;
  padding: 1rem 2rem;
  list-style-type: none;
}
