@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat&display=swap");

:root {
  --background-color: #363439;
  --foreground-color: white;
  --text-color: white;
  --titelFont: "Alfa Slab One", cursive;
  --textFont: "Montserrat", sans-serif;
  --action-background: #978cd2;
  --action-text: yellow;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--textFont);
  background-color: rebeccapurple;
}

h1,
h2,
h3 {
  font-family: var(--titelFont);
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: 100;
}

hr {
  margin-top: 2rem;
  border-bottom: 0.5px solid #bbb;
  width: 80%;
}
#root {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: grid;
  grid-template-rows: 275px 1fr;
  align-content: center;
  text-align: center;
}
